

.cart__main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    padding: 0 8px 60px;
    border-bottom: 1px solid #eee;
}

.cart__left {
    width: 70%;
    padding-right: 24px;
}

.cart__list {
    width: 100%;
    margin-bottom: 50px;
}

.cart__left table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
}

.cart__left tr {
    width: 100%;
}

.cart__left th {
    border-bottom: 1px solid #ddd;
    font-size: .9rem;
    padding: 12px 0;
    color: #696969;
}

.cart__left th:nth-child(1) {
    width: 50%;
    padding-left: 12px;
}

.cart__right {
    width: 30%;
}

.cart__right td{
    border-bottom: none
}

.cart__summary {
    box-sizing: border-box;
    width: 100%;
    background-color: #fafafa;
    padding: 24px 30px;
    border: 1px dotted #ccc;
}

.cart__title {
    font-weight: 500;
    font-size: 1.05rem;
    padding-bottom: 12px;
    border-bottom: 1px solid #48494b;
}

.cart__right table {
    width: 100%;
    border-collapse: collapse;
}

.subtotal td{
    padding: 20px 0;
    font-size: 1.05rem;
    border-bottom: 1px solid #ddd;
}

.subtotal td:last-of-type {
    text-align: right;
}

.shipping td {
    padding: 16px 0;
    font-size: 1.05rem;
}

.freeShip td{
    padding-top: 0;
    padding-bottom: 0;
}

.freeShip td:last-of-type {
    text-align: right;
}

.estimate td {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.estimate h4{
    font-size: .9rem;
    font-weight: 400;
}

.total td {
    font-size: 1.2rem;
    
    padding: 24px 0;
    color: #fcb83b;
}

.total td:last-of-type {
    text-align: right;
}

.cart__checkout {
    text-align: center;
}

.continueShopping {
    margin-top: 26px;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .cart__left {
        width: 100%;
        padding-right: 0;

    }
    
    .cart__right {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .cart__left table {
        text-align: center;
        border: 1px solid #ccc;
    }

    .cart__left thead {
        display: none;
    }

    .cart__left tbody {
        display: block;
    }
    .cart__left td {
        padding: 5px;
    }
}