.social {
    max-width: 1200px;
    margin: 40px auto 60px;
    background-image: url(https://tenj-ecommerce-mui.web.app/static/media/bg-1.d22cfe95.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 8px;
}

.social__container {
    background-color: #fff;
    padding: 36px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social__left {
    width: 50%;
    text-align: center;
    padding: 0 30px;
    border-right: 1px solid #b1b1b1;
}

.social__title h5{
    font-size: 1.6rem;
}

.social__title p{
    margin-top: 5px;
    font-size: 1.2rem;
    color: #b1b1b1
}

.social__title span{
    color: #fcb83b
}

.social__icon {
    margin-top: 20px;

}

.social__right {
    width: 50%;
    text-align: center;
    padding: 0 30px;
    
}
.social__input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 960px) {
    .social__left {
        width: 100%;
        border-right: none;

    }
    .social__right {
        width: 100%;
        margin-top: 30px;
    }
}

